:root{
    --background-color: #f6f6f6;
    --main-color: #1B1B1B;
    --secondary-color:#D20223;
}

*{
    margin: 0;
    padding: 0;
    font-family: Satoshi;
    font-size: 16px;
}

header{
    padding: 2.5em 0em;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

header .icon{
    filter: invert(100%);
    align-self: center;
}

header .icon-link {
    filter: invert(100%);
}

header a{
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.5rem;
}

input.search-input{
    background: url(pictures/search-icon.svg) no-repeat 1em center;
    background-color: var(--background-color);
    width: 33.3vw;
    padding: 1em 4em;
    display: block;
    border: none;
    border-radius: 15px;
}

input.search-input::placeholder{
    color: var(--main-color);
    font-size: 1.25em;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.375rem;
}

nav, .search-bar{
    justify-self: end;
}

.header-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr 2fr));
    grid-gap: 2.5em 22vw;
}

.search-bar{
    grid-column-start: 2;
}