:root{
    --background-color: #f6f6f6;
    --main-color: #1B1B1B;
    --secondary-color:#D20223;
}

*{
    margin: 0;
    padding: 0;
    font-family: Satoshi;
    font-size: 16px;
}

header{
    padding: 2.5em 0em;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

header .icon{
    filter: invert(100%);
    align-self: center;
}

header .icon-link {
    filter: invert(100%);
}

header a{
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.5rem;
}

body{
    background-color: #fff;
}

input.search-input{
    background: url(pictures/search-icon.svg) no-repeat 1em center;
    background-color: var(--background-color);
    width: 33.3vw;
    padding: 1em 4em;
    display: block;
    border: none;
    border-radius: 15px;
}

input.search-input::placeholder{
    color: var(--main-color);
    font-size: 1.25em;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.375rem;
}

nav, .search-bar{
    justify-self: end;
}

.header-container{
    box-sizing: border-box;
    display: grid;
    grid-gap: 2.5em 17.4vw;
}

.search-bar{
    grid-column-start: 2;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-gap: 0em 8em;
}

.pages-container{
    align-self: center;
    justify-self: end;
    margin-right: 12.5em;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(3, 8em);
    grid-template-rows: repeat(3, 8em);
    grid-gap: 2.5em;
    grid-row-start: 2;
    justify-self: end;
}

.other-container{
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: start;
}

.first-img{
    grid-area: 1 / 1 / 4 / 4
}

.first-img img{
    max-width:100%;
    max-height:100%;
}

.second-img img,
.third-img img,
.fourth-img img{
    max-width:100%;
    max-height:100%;
}